<section class="modal-card-body has-background-light">
    <form action="{% url 'clients' %}"class="m-6 client-create-form" method="post"> 
      {% csrf_token %}
      {% comment %} {% for f in projectform %} {% endcomment %}
      
      <div class="control">
        {% comment %} <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label> {% endcomment %}
        {% comment %} {% if f.field.widget.input_type == 'select'%}
        <div class="select mb-5">
            {{ f }}
        </div>
        {% else %}
        {{ f }}
        {%endif%} {% endcomment %}
        <p class="has-text-centered has-text-grey-light mb-6">Пожалуйста, заполните данные о новом клиенте.</p>
        <div class="control">
          {% csrf_token %}
            {{ clientform.client_name }}
        </div>
        <div class="control">
          {{ clientform.client_contact }}
        </div>
        <div class="control">
          {{ clientform.client_telegram }}
        </div>
        <div class="control">
        {{ clientform.client_phone }}
    </div>
        <div class="control">
        {{ clientform.client_roletype }}
    </div>
    <div class="control">
        {{ clientform.client_agreements }}
    </div>
      </div>

      <div class="">{{ clientform.errors }}</div>
      {% comment %} {% endfor %} {% endcomment %}
      <div class="button-group has-text-centered">
        <button type="submit" class="button button-create-project is-primary mt-5 mr-3">Добавить клиента</button>
        <button class="button mt-5  modalProjectsFormCancel is-light">Cancel</button>
      </div>
    </form>
    
    <p class="has-text-centered has-text-grey-light mb-3" style="font-size: 12px">* - Обязательное поле</p>
  </section>
  