<section class="modal-card-body has-background-light">
  <form action="{% url 'projects_page' %}" class="m-6 project-create-form" method="post">
    {% csrf_token %}
    <div class="control">
      <p class="has-text-centered has-text-grey-light mb-6">Пожалуйста, заполните данные о проекте. <br />Будьте
        внимательны.</p>
      <div class="control">
        {% csrf_token %}
        {{ projectform.project_name }}
      </div>
      <div class="select mb-5 is-fullwidth">
        {{ projectform.project_status }}
      </div>
      <div class="select mb-5 is-fullwidth">
        {{ projectform.project_client }}
      </div>
      <div class="control">
        {{ projectform.project_product }}
      </div>
      <div class="control">
        {{ projectform.project_sum }}
      </div>
    </div>
    <div class="">{{ projectform.errors }}</div>
    <div class="button-group has-text-centered">
      <button type="submit" class="button button-create-project is-primary mt-5 mr-3">Создать проект</button>
      <button class="button mt-5  modalProjectsFormCancel is-light">Отмена</button>
    </div>
  </form>
  <br />
  <p class="has-text-centered has-text-grey-light mb-6" style="font-size: 12px">* - Обязательное поле</p>
</section>