{% load static %}
{% comment %} Sidebar big {% endcomment %}
<div class="box has-background-white sidebar-big is-pulled-left is-hidden">
    {% comment %} <button class="button container close-sidebar is-pulled-right is-ghost">Close</button> {% endcomment %}
    <div class="sidebar-content">
      <a class="close-sidebar is-pulled-right"><img src="{% static 'assets/img/indent.svg'%}" width="16px"/></a>
      <ul class="menu-list pt-5 has-text-left">
        <li class="sidebar-menu"><a class="" href="/"><img class="open-sidebar-icon pr-2" src="{% static 'assets/img/home.svg'%}">Дашборд</a></li>
        <li class="sidebar-menu"><a class=""href="/projects/"><img class="open-sidebar-icon pr-2" src="{% static 'assets/img/document-text.svg'%}"/>Проекты</a></li>
        <li class="sidebar-menu"><a class="" href="/clients"><img class="open-sidebar-icon pr-2" src="{% static 'assets/img/clients.svg'%}"/>Клиенты</a></li>
        <li class="sidebar-menu"><a class="" href="/finance/"><img class="open-sidebar-icon pr-2" src="{% static 'assets/img/finance.svg'%}"/>Финансы</a></li>
        <li class="sidebar-menu"><a class="" href="/admin/"><img class="open-sidebar-icon pr-2" src="{% static 'assets/img/admin.svg'%}"/>Админ</a></li>
      </ul>
    </div>
    {% if user.is_authenticated %}<div class="block sidebar-content-open is-pulled-bottom">
      <table>
        <tr>
          <td class="usersection"><div class="sidebar-avatar p-2 pt-3"><span class="sidebar-avatar-name mt-6">{{user.get_short_name}}</span></div>
          </td>
          <td class="usersection"><div class="ml-4">{{user.username}}</div>
          </td>
        </tr>
        <tr>
          {% if user.is_authenticated %}
          <td colspan="2" class="has-text-grey-light pt-4 pl-2 is-size-7">Вы авторизованы</td>
          
          {% endif %}
        </tr>
      </table>
    </div>{% else %}
  <div class="block sidebar-content-open is-pulled-bottom">
    <table>
      <tr>
        <td colspan="2" class="has-text-grey-light pl-2 pt-4">Вы не авторизованы</td>
      </tr>
    </table>
  </div>
    {%endif%}
  </div>
{% comment %} Sidebar small {% endcomment %}
<div class="box has-background-white sidebar-small is-pulled-left is-ghost">
    <div class="sidebar-content">
      <a class="open-sidebar has-text-centered pl-4 pt-4" height="32px"><img src="{% static 'assets/img/indent-open.svg'%}" width="16px"/></a>
    <ul class="pt-5 pl-3">
      <li class="sidebar-icon"><a href="/"><img class="hovered-icon" src="{% static 'assets/img/home.svg'%}"></a></li>
      <li class="sidebar-icon"><a href="/projects/"><img class="hovered-icon" src="{% static 'assets/img/document-text.svg'%}"/></a></li>
      <li class="sidebar-icon"><a href="/clients"><img class="hovered-icon" src="{% static 'assets/img/clients.svg'%}"/></a></li>
      <li class="sidebar-icon"><a href="/finance/"><img class="hovered-icon" src="{% static 'assets/img/finance.svg'%}"/></a></li>
      <li class="sidebar-icon"><a href="/admin/"><img class="hovered-icon" src="{% static 'assets/img/admin.svg'%}"/></a></li>
    </ul>
    
  </div>
  {% if user.is_authenticated %}<div class="sidebar-content is-pulled-bottom">
    <div class="sidebar-avatar p-2 pt-3"> <span class="sidebar-avatar-name mt-6">{{user.get_short_name}}</span></div>
  </div>{% else %}{%endif%}
  
</div>
