{% load static %}
{% comment %} Sidebar big {% endcomment %}
<div class="box has-background-white sidebar-big is-pulled-left is-hidden">
    <button class="button container close-sidebar">Close</button>
    <div class="sidebar-content">
      <ul>
        <li class="sidebar-item">Dashboard</li>
        <li class="sidebar-item">Projects</li>
        <li class="sidebar-item">Clients</li>
        <li class="sidebar-item">Finances</li>
      </ul>
    </div>
  </div>
{% comment %} Sidebar small {% endcomment %}
<div class="box has-background-white sidebar-small is-pulled-left">
    <button class="button container open-sidebar">Open</button>
    <ul>
      <li class="sidebar-icon has-text-centered"></li>
      <li class="sidebar-icon has-text-centered"></li>
      <li class="sidebar-icon has-text-centered"></li>
      <li class="sidebar-icon has-text-centered"></li>
    </ul>
  </div>
</div>