{% load static %}
<div class="column is-11 pl-6 pr-6">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input is-rounded" type="text" placeholder="Search projects, clients and everything">
              <span class="icon is-small is-left">
                <img src="{% static 'assets/img/search-icon.png'%}" width="40%">
              </span>
            </p>
          </div>
    </div>
    <div class="column is-1 pr-6">
        <button class="button is-light">Log out</button>
    </div>