html{
  /* overflow-y:hidden; */
}
/* Sidebar */
.sidebar-big {
  height: 110vh;
  /* z-index: 999; */
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100%;
    height: 110vh;
    width: 30vh;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    padding-left: 30px;
    /* padding-top: 30px; */
    padding-right: 30px;
}
.sidebar-small {
  height: 110vh;
  /* z-index: 999; */
  position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100%;
    height: 110vh;
    overflow-y: auto;
    width: 10vh;
    top: 0;
    bottom: 0;
    padding-left: 15px;
    padding-top: 30px;
    padding-right: 30px;
}

  .close-sidebar{
    border: 0px;
    width: 30px;
  }
  .open-sidebar{
    border: 0px;
    width: 30px;
  }

  .sidebar-item {
    margin-top: 20px;
    display: block;
  }

  .sidebar-icon {
    margin-top: 20px;
    color: white;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background-color: grey;
    text-align: center;
    line-height: 42pt;
  }

  .dashboard-icon{
    background-color: #5F68B5;
  }
  
  .projects-icon{
    background-color: #3C9098;
  }
  
  .clients-icon{
    background-color: #834690;
  }

  .finance-icon{
    background-color: #ebebeb;
  }

  .sidebar-opened {
    display: block;
  }

/* toolbar */
.input {
  border: 0px;
}

  /* body */
  .body-content{
    margin: 0px;
  }

  /* projects */
  .project-line{
    height: 50px;
  }

  .is-borderless { border: 0;
  border-color: none;}
  .is-bordered { border: 1px solid #DBDBDB}

