html{
  background: #F4F6FC;
  background-image: radial-gradient(#9B9B9B 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  /* overflow-y:hidden; */
}

.polka-dot {
  background: #F4F6FC;
  background-image: radial-gradient(#9B9B9B 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}
/* Sidebar */
.sidebar-big {
  height: 110vh;
  /* z-index: 999; */
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100%;
    height: 110vh;
    width: 30vh;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    padding-left: 30px;
    /* padding-top: 30px; */
    padding-right: 30px;
}
.sidebar-small {
  height: 110vh;
  /* z-index: 999; */
  position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100%;
    height: 110vh;
    overflow-y: auto;
    width: 10vh;
    top: 0;
    bottom: 0;
    padding-left: 15px;
    padding-top: 30px;
    padding-right: 30px;
}

  .close-sidebar{
    border: 0px;
    width: 30px;
  }
  .open-sidebar{
    border: 0px;
  }

  .sidebar-item {
    margin-top: 20px;
    display: block;
  }

  .sidebar-icon {
    margin-top: 0px;
    color: white;
    display: block;
    text-align: center;
    line-height: 36pt;
  }
  .hovered-icon:hover{
    opacity: 0.7;
  }

  .sidebar-menu {
    color: white;
    display: block;
    line-height: 24pt;
  }
  .sidebar-menu-icons {
    color: white;
    display: block;
    text-align: center;
    line-height: 24pt;
    vertical-align: text-top;
  }

  .open-sidebar-icon {
    border: 0px;
    width: 1.5em;
    vertical-align: text-top;
  }

  .sidebar-opened {
    display: block;
  }

/* toolbar */
.input {
  border: 0px;
}

  /* body */
  .body-content{
    margin: 0px;
  }

  /* projects */
  .project-line{
    height: 50px;
  }

  .is-borderless { border: 0;
  border-color: none;}
  .is-bordered { border: 1px solid #DBDBDB}


/* Clients detail */
.client-info-30{
  line-height: 30pt;
}
.client-info-15{
  line-height: 20pt;
}

.box-grid {
height: 100%;
vertical-align: center;
}