{% extends 'main/index.html' %}
{% load static %}
{% block title %}Клиент {{object.client_name}}{% endblock %}
{% block content %}
<div class="column is-5 py-6 px-6 pb-6">
    <div class="box has-background-white pb-6">
        <p class="has-text-grey pl-3 is-size-5 pt-3" style=""> #{{object.id}}</p>
        <h1 class="is-size-3 pl-3 has-text-weight-semibold pb-5">Клиент «{{object.client_name}}»</h1>
        <div class="pl-3">
            <div class="client-info">{% if client.client_active == true %}
                <p class="has-text-primary  client-info" style=""> Active</p>
                {% else %}
                <p class="has-text-danger client-info-30" style=""> Inactive</p>
                {% endif %}</div>
                <h1 class="is-size-5 has-text-weight-semibold pb-3">Контактные данные</h1>
                <p class="has-text-grey client-info-15" style=""> <strong>Контактное лицо:</strong> {{object.client_contact}}</p>
                <p class="has-text-grey client-info-15" style=""> <strong>Телеграм:</strong> {{object.client_telegram}}</p>
                <p class="has-text-grey client-info-15" style=""> <strong>Телефон:</strong> {{object.client_phone}}</p>
                <p class="has-text-grey client-info-15" style=""> <strong>Создан:</strong> {{object.client_created}}</p>
                {% if object.client_updated %}<p class="has-text-grey client-info-15" style=""> <strong>Изменен:</strong> {{object.client_updated}}</p>{%endif%}
                {% if object.client_closed %} <p class="has-text-grey client-info-15" style=""> <strong>Закрыт:</strong> {{object.client_closed}}</p>{%endif%}
                <p class="has-text-grey client-info-30" style=""> <h1 class="is-size-5 has-text-weight-semibold pt-6 pb-2">Роль и тип:</h1> {{object.client_roletype}}</p>
                <div class="mb-4 mr-6"><button class="button is-fullwidth is-info my-4 mb-6" {%if object.client_agreements %}href="{{object.client_agreements}}"{% else %} disabled {% endif %}>Папка с договорами</button>
                    <div class="buttons has-addons">
                        <a class="button is-primary  is-inline is-pulled-left" href="{% url 'client_update' object.id %}">Редактировать</a><a class="button is-danger modalProjectsFormButton is-inline is-pulled-right">Удалить клиента</a>
                    </div>
                </div>
         </div>
     </div>
</div>
<div class="column is-6 py-6 pr-2">
    <div class="box has-background-white pb-6">
        <h1 class="is-size-3 pl-3 has-text-weight-semibold pt-3 pb-5">Список проектов</h1>
        <table class="table is-hoverable is-fullwidth">
                <tr>
                    <th  class=""> #
                    </th>
                    <th  class=""> Название проекта
                    </th>
                    <th  class=""> Стоимость
                    </th>
                    <th  class=""> Дата создания
                    </th>
                </tr>
            {% if client.project.all %}
                {% for project in client.project.all %}
                <tr>
                    <td class=""> {{ project.id }}
                    </td>
                    <td> <a href="{{project.get_absolute_url}}">{{ project.project_name }}</a>
                    </td>
                    <td> {{ project.project_sum }}
                    </td>
                    <td> {{ project.project_created }}
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="has-text-centered py-6" colspan="4"> У этого клиента еще нет проектов.
                    </td>
                </tr>
        </table>
            {% endif %}
    </div>
</div>
<div class="modal modalProjectsForm">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title has-text-centered">Удалить клиента</p>
        <button class="delete modalProjectsFormCloser" aria-label="close"></button>
      </header>
        <section class="modal-card-body has-background-light">
            <form action="{% url 'client_delete' object.id %}" class="m-6 project-create-form" method="post">
            {% csrf_token %}
            <div class="control">
                <p class="has-text-centered mb-4 is-size-5">Вы уверены, что хотите удалить клиента <span class="has-text-primary">{{client.client_name }}</span> и все связанные с ним проекты? Восстановить данные будет невозможно.</p>
                <div class="control">        
                </div>
            </div>
            <div class="button-group has-text-centered mb-6">
                <button type="submit" class="button button-create-project is-danger mt-5 mr-3 is-medium">Удалить клиента</button><br/>
                <button class="button mt-5  modalProjectsFormCancel is-light">Отмена</button>
            </div>
            </form>
        </section>
      </div>
  </div>
{% endblock %}