{% extends 'main/index.html' %}
{% load static %}
{% block title %}Клиент {{object.client_name}}{% endblock %}
{% block content %}
<div class="column is-3">
</div>
<div class="column is-6 py-6 px-6">
    <div class="box has-background-white">
        <p class="is-size-4 pt-4 has-text-centered">Редактировать клиента</p>
        <form action="" class="m-6 project-create-form" method="POST"> 
            {% csrf_token %}            
            <div class="control">
              <div class="control">
                {% csrf_token %}
                  {{ form.client_name }}
              </div>
              <div class="control">
                {% csrf_token %}
                  {{ form.client_contact }}
              </div>
              <div class="control">
                {% csrf_token %}
                  {{ form.client_telegram }}
              </div>
              <div class="control">
                {% csrf_token %}
                  {{ form.client_phone }}
              </div>
              <div class="control">
              {{ form.client_roletype }}
          </div>
              <div class="control">
              {{ form.client_agreements }}
          </div>
            </div>
            <div class="">{{ form.errors }}</div>
            <div class="button-group has-text-centered">
              <button type="submit" class="button is-primary mt-5 mr-3">Сохранить</button>
              <button class="button mt-5 is-light">Отменить</button>
            </div>
          </form>
          <br/>
          <p class="has-text-centered has-text-grey-light mb-4" style="font-size: 12px">* - Обязательное поле</p>
      </div>
  </div>
  <div class="column is-3">
</div>

{% endblock %}