{% extends 'main/layout.html' %}

{% block title %} Клиент {{object.client_name}}{% endblock %}
{% block content %}
<div class="col-12">
            <table class="table" style="border-width: 0px">
                <tr>
                    <td>
                        <div class="card p-3">
                            <span class="text-secondary pt-3" style="font-size: 14px">#{{ object.id }}</span> 
                            <h2 class=" pb-3" style=""> Client "{{object.client_name}}" </h2>
                                {% if client.client_active == true %}
                                <p class="text-primary" style=""> Active</p>
                                {% else %}
                                <p class="text-danger" style=""> Inactive</p>
                                {% endif %}
                                <p class="text-secondary" style=""> Contact: {{object.client_contact}}</p>
                                <p class="text-secondary" style=""> Telegram: {{object.client_telegram}}</p>
                                <p class="text-secondary" style=""> Phone: {{object.client_phone}}</p>
                            <br/>
                            <span class="text-secondary pt-3 " style="font-size: 14px">Роль и тип</span>
                            <h5 class=" pb-3" style=""> {{object.client_roletype}} </h5>
                            <a class=
                            {% if object.client_agreements %}
                            "btn btn-primary"
                            {% else %}
                            "btn btn-secondary"
                            {% endif %}
                            href="{{object.client_agreements}}" target="_blank"> Папка с договорами</a>
                        </div>
                    </td>
                    <td>
                        <div class="card p-3">
                            <h3 class="mx-auto" style=""> Список проектов </h3>
                            
                            
                            <table>
                                <hr/>
                                <tr align="right">
                                    <th scope="col" class="text-secondary"> #
                                    </th>
                                    <th scope="col" class="text-secondary"> Название проекта
                                    </th>
                                    <th scope="col" class="text-secondary"> Стоимость
                                    </th>
                                    <th scope="col" class="text-secondary"> Дата создания
                                    </th>
                                </tr>
                                {% if client.project.all %}
                                {% for project in client.project.all %}
                                    <tr align="right">
                                        <td class="text-secondary"> {{ project.id }}
                                        </td>
                                        <td> <a href="{{project.get_absolute_url}}">{{ project.project_name }}</a>
                                        </td>
                                        <td> {{ project.project_sum }}
                                        </td>
                                        <td> {{ project.project_created }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr align="right">
                                        <td class="text-secondary"> 
                                        </td>
                                        <td class="text-secondary"> None
                                        </td>
                                        <td class="text-secondary"> None
                                        </td>
                                        <td class="text-secondary"> None
                                        </td>
                                    </tr>
                                {% endif %}
                                    
                            </table>  
                            
                            
                        </div>
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-secondary"> Other Clients</li>
                        {% for client in clientsall %}
                                {% if client.id == object.id %}
                            <a href="{{client.get_absolute_url}}" class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
                                <span class="text">{{client.id}}</span> <span>{{client.client_name}}</span>
                                {% else %}
                            <a href="{{client.get_absolute_url}}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span class="text-secondary">{{client.id}}</span> <span>{{client.client_name}}</span>    
                                {% endif %}
                            </a>
                                
                        {% endfor %}
                    </ul>
                    </td>
                </tr>
            </table>        
        </div>
    </div>
{% endblock %}