{% extends 'main/template.html' %}
{% load static %}
{% load humanize %}
{% block title %}Дашборд{% endblock %}
{% block content %}
<div class="dashboard pl-6 ml-5">    
    <div class="columns pl-6">
            <p class="is-size-2 pl-6 pt-2 pb-4">Дашборд {% if period %}{{period}}{%else%}{%endif%} <a class="pl-6 is-size-6" href="http://127.0.0.1:8000/">Сбросить фильтр</a></p>
    </div>
    <div class="columns pl-6">
        <div class="column .is-flex is-2 py-4 pr-4 pl-4">
            <div class="box has-background-white has-text-centered">
                <p class="is-size-4">Период:</p>
                <form method="GET">
                    {{transaction_filter_form.transaction_date_from}}
                    {{transaction_filter_form.transaction_date_to}}
                    <input type="submit" class="button is-primary is-inverted" value="Фильтровать"/>
                </form>
            </div>
        </div>
        <div class="column .is-flex is-2 py-4 px-4">
            <div class="box box-grid has-background-white has-text-centered">
                <h1 class="is-size-1">{{clients.count}}</h1>
                <p class="has-text-grey-light">Количество клиентов</p>
                <table class="has-text-centered is-flex mt-4">
                    <tr>
                        <td class="px-2">{{clientsactive.count}}
                        </td>
                        <td class="px-2">{{clientsfinished.count}}
                        </td>
                    </tr>
                    <tr>
                        <td class="px-2 is-size-7 ">В работе
                        </td>
                        <td class="px-2 is-size-7 ">Заверш.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="column .is-flex is-2 py-4 px-4">
            <div class="box box-grid has-background-white has-text-centered">
                <h1 class="is-size-1">{{projects.count}}</h1>
                <p class="has-text-grey-light">Количество проектов</p>
                <table class="has-text-centered is-flex mt-4">
                    <tr>
                        <td class="px-2">{{projectsactive.count}}
                        </td>
                        <td class="px-2">{{projectsfinished.count}}
                        </td>
                    </tr>
                    <tr>
                        <td class="px-2 is-size-7 ">В работе
                        </td>
                        <td class="px-2 is-size-7 ">Заверш.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="column is-4 py-4 px-4">
            <div class="box box-grid has-background-white has-text-centered">
                <h1 class="is-size-1 pt-4">{{sales.total|intcomma}} ₽</h1>
                <p class="has-text-grey-light">Сумма продаж </p> 
                <p class="pt-4">По {{qsactive.count}} проектам</p>
                <br />
            </div>
        </div>
    </div>
    <div class="columns pl-6">
        <div class="column is-4 py-1 px-4">
            <div class="box box-grid has-background-white has-text-centered">
                <h1 class="is-size-1">{{income.amount__sum|intcomma}} ₽</h1>
                <p class="has-text-grey-light">Поступления</p>
                <br />
            </div>
        </div>
        <div class="column is-4 py-1 px-4">
            <div class="box box-grid has-background-white has-text-centered">
                <h1 class="is-size-1">{{income.amount__sum|add:spendings.amount__sum|intcomma}} ₽</h1>
                <p class="has-text-grey-light">Маржинальность</p>
                <br />
            </div>
        </div>
        <div class="column is-2 py-1 px-4">
            <div class="box box-grid has-background-white has-text-centered">
                <h1 class="is-size-1">{{transactions.count}}</h1>
                <p class="has-text-grey-light">Количество транзакций</p>
            </div>
        </div>
    </div>
    <div class="columns pl-6">
        <div class="column is-4 py-1 px-4">
            <div class="box box-grid has-background-white has-text-centered">
                <h1 class="is-size-1">{{spendings.amount__sum|intcomma}} ₽</h1>
                <p class="has-text-grey-light">Расходы</p>
                <br />
            </div>
        </div>
        <div class="column is-4 py-1 px-4">
            <div class="box box-grid has-background-white has-text-centered">
                <h1 class="is-size-1">{{balance.amount__sum|intcomma}} ₽</h1>
                <p class="has-text-grey-light">Баланс</p>
                <br />
            </div>
        </div>
        <div class="column is-2 py-1 px-4">
            <div class="box box-grid has-background-white has-text-centered">
                <h1 class="is-size-1">{{marginality|floatformat:0}}%</h1>
                <p class="has-text-grey-light">ROI</p>
            </div>
        </div>
    </div>
</div>

{% comment %} MODAL FORM PROJECT {% endcomment %}
<div class="modal modalProjectsForm">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title has-text-centered">Создать проект</p>
            <button class="delete modalProjectsFormCloser" aria-label="close"></button>
        </header>
        {% include 'main/project_create.html' %}
    </div>
</div>
<div class="column is-1">
    <div class="">
        <div class="notification notification-on-top is-primary is-hidden has-text-grey-light pt-6 pl-0 ml-0">
            <p class="is-hidden successmessage"> {{successmessagetext}} </p>
            <p class=""> {{ projectform.errors }} </p>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}