{% extends 'main/template.html' %}
{% load static %}
{% load rest_framework %}
{% block title %}Финансы{% endblock %}
{% block content %}
<div class="pl-6 ml-5">
  <div class="column is-11 py-6 px-6">
    <div class="box has-background-white">
      
      {%if period == 'с 1997-12-24 по 2099-12-24' %}<h1 class="is-size-3 has-text-centered has-text-weight-semibold pt-3 pb-5">Транзакции</h1>{%else%}
      <h1 class="is-size-3 has-text-centered has-text-weight-semibold pt-3 pb-5">Транзакции {% if period %}{{period}}{%else%}{%endif%}</h1>{% endif %}
      {% if search_result %}
      <div class="py-4 pl-3"><p class=""><strong>Результаты поиска по </strong> «{{search_result}}»:</p> <a href="/finance/">Сбросить фильтр</a></div>
      {% endif %}

        <div class="is-grouped">
          <form method="GET" class="is-pulled-left">
            {{transaction_filter_form.transaction_date_from}}{{transaction_filter_form.transaction_date_to}}
            <input type="submit" class="button is-primary is-inline is-inverted" value="Фильтровать"/>
          </form>
          <button class="button is-pulled-right modalProjectsFormButton ml-4"
            data-target="modalProjectsForm">Создать</button>
          
          <a class="button is-pulled-right" href="../finance/">Сбросить фильтр</a>
        </div>
      <table class="table is-hoverable is-fullwidth mt-6">
        <tr>
          <th>#
          </th>
          <th>Дата
          </th>
          <th>Сумма
          </th>
          <th>Статья расхода
          </th>
          <th>Тип
          </th>
          <th>Проект
          </th>
        </tr>
        {% for transaction in data %}
        
      <tr>
          <td> <a class="is-text is-text has-text-dark is-clickable" href="{{transaction.url}}">{{transaction.id}}</a>
          </td>
          <td><a class="has-text-dark" href="{{transaction.project.get_absolute_url}}">{{transaction.transaction_date|date:'d-m-Y - H:i'}}</a>
          </td>
          <td class="
          {% if transaction.flow == 'INC' %}
          has-text-primary
          {% elif transaction.flow == 'OUT' %}
          has-text-danger
          {% else %}
          has-text-info
          {% endif %}
          "><a class="is-clickable {% if transaction.flow == 'INC' %}
          has-text-primary
          {% elif transaction.flow == 'OUT' %}
          has-text-danger
          {% else %}
          has-text-info
          {% endif %}" href="{{transaction.get_absolute_url}}">{{transaction.amount|floatformat:"2g"}} ₽</a>
          </td>
          <td><a class="is-clickable has-text-dark" href="{{transaction.get_absolute_url}}">{{transaction.item}}</a>
          </td>
          <td class="
          {% if transaction.flow == 'INC' %}
          has-text-primary
          {% elif transaction.flow == 'OUT' %}
          has-text-danger
          {% else %}
          has-text-info
          {% endif %}
          ">{{transaction.get_flow_display}}
          </td>
          <td><a href="{{transaction.project.get_absolute_url}}">{{transaction.project}}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="modal modalProjectsForm">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Добавить транзакцию</p>
      <button class="delete modalProjectsFormCloser" aria-label="close"></button>
    </header>
    {% include 'main/transaction_create.html' %}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>

</script>
{% endblock %}