{% extends 'main/layout.html' %}

{% block content %}

    {% comment %} Table {% endcomment %}
    <div class="col-9">
        <div class="card pl-5">
            <h2 class="pt-3 pb-3 m-4" style=""> Projects </h2>
                <table class="table table-dark table-hover text-truncate" style="font-size: 14px">
                    <thead>
                        <tr>
                            <th scope="col" class="text-secondary">  </th>
                            <th scope="col" class="text-secondary">#</th>
                            <th scope="col" class="text-secondary">Name </th>
                            <th scope="col" class="text-secondary">Start </th>
                            <th scope="col" class="text-secondary">Finish </th>
                            <th scope="col" class="text-secondary">Client </th>
                            <th scope="col" class="text-secondary">Status </th>
                            <th scope="col" class="text-secondary">Product </th>
                            <th scope="col" class="text-secondary">Sum </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td> </td>
                            <td scope="row" class="text-secondary"> {{ project.id }} </td>
                            <td scope="row"> <a href="{{ project.get_absolute_url }}"> {{ project.project_name }} </a> </td>
                            <td scope="row" class="text-secondary"> {{ project.project_created }} </td>
                            <td scope="row" class="text-secondary"> {{ project.project_finished }} </td>
                            <td scope="row"> <a href="{{ project.project_client.get_absolute_url }}">{{ project.project_client.client_name }} </a></td>
                            <td scope="row"> 
                                <span class="text-{{ project.project_status.status_color }}"> {{ project.project_status }} </span>
                                </td>
                            <td scope="row"> {{ project.project_product }} </td>
                            <td scope="row"> {{ project.project_sum }} </td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
    </div>
    <div class="col-3" style="">
        <div class="card p-3" style="">
            
        </div>
    </div>
</div>
{% endblock %}