{% extends 'main/layout.html' %}

{% block content %}

    {% comment %} Table {% endcomment %}
    <div class="col-9">
        <div class="card pl-5">
            <h2 class="pt-3 pb-3 m-5" style=""> Projects </h1>
                <table class="table table-dark table-hover text-truncate" style="font-size: 14px">
                    <thead>
                        <tr>
                            <th scope="col">  </th>
                            <th scope="col"> Name </th>
                            <th scope="col"> Client </th>
                            <th scope="col"> Status </th>
                            <th scope="col"> Product </th>
                            <th scope="col"> Sum </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td> </td>
                            <td scope="row"> {{ project.project_name }} </td>
                            <td scope="row"> {{ project.project_client.client_name }} </td>
                            <td scope="row"> <span class="text-{{ project.project_status.status_color }}"> {{ project.project_status }} </p></td>
                            <td scope="row"> {{ project.project_product }} </td>
                            <td scope="row"> {{ project.project_sum }} </td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
    </div>
    <div class="col-3" style="">
        <div class="card p-3" style="">
            
        </div>
    </div>
</div>
{% endblock %}