{% extends 'main/index.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="column is-11 py-6 px-6">
    <div class="box has-background-white">
    <h1 class="is-size-3 has-text-centered has-text-weight-semibold pt-3 pb-5">Projects
      <button class="button is-pulled-right modalProjectsFormButton" data-target="modalProjectsForm">Create</button></h1> 
    <table class="table is-hoverable is-fullwidth">
      <tr>
        <th>#
        </th>
        <th>Name
        </th>
        <th>Created
        </th>
        <th>Finished
        </th>
        <th>Client
        </th>
        <th>Status
        </th>
        <th>Product
        </th>
        <th>Sum
        </th>
      </tr>
      {% if projects %}
        {% for project in projects %}
        <tr class="is-size-6 truncate-text">
          <td>{{ project.id }}
          </td>
          <td class="truncate-text"><a href="{{ project.get_absolute_url }}"> {{ project.project_name }}</a>
          </td>
          <td>{{ project.project_created }}
          </td>
          <td>{% if project.project_finished %}
            {{ project.project_finished }}
            {% else %}
            Project is active
            {% endif %}
          </td>
          <td><a href="{{ project.project_client.get_absolute_url }}">{{ project.project_client.client_name }} </a>
          </td>
          <td><span class="text-{{ project.project_status.status_color }}"> {{ project.project_status }} </span>
          </td>
          <td>{{ project.project_product }}
          </td>
          <td>{{ project.project_sum }}
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td></td>
          <td colspan="8"><span class="text-secondary">No projects yet. Create a project in a right sidebar to start working. </span> </td>
        </tr>
        {% endif%}
    </table>
    </div>
  </div>
  {% comment %} Modal form {% endcomment %}
  <div class="modal modalProjectsForm">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title has-text-centered">Create Project</p>
        <button class="delete modalProjectsFormCloser" aria-label="close"></button>
      </header>
      {% include 'main/project_create.html' %}
      </div>
  </div>
  <div class="column is-1">
    <div class="">
      <div class="notification notification-on-top is-primary is-hidden has-text-grey-light pt-6 pl-0 ml-0">
        {% comment %} <button class="delete"></button> {% endcomment %}
        <p class="is-hidden successmessage"> {{successmessagetext}} </p>
        <p class=""> {{ projectform.errors }} </p>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block scripts %}
  <script>
  </script>
  {% endblock %}
  
  