{% extends 'main/index.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="column is-11 p-6">
    <div class="box has-background-white">
    <h1 class="is-size-3 has-text-centered has-text-weight-semibold pt-3 pb-5">Projects<button class="button is-pulled-right">Create</button></h1> 
    <table class="table is-hoverable is-fullwidth">
      <tr>
        <th>#
        </th>
        <th>Name
        </th>
        <th>Created
        </th>
        <th>Finished
        </th>
        <th>Client
        </th>
        <th>Status
        </th>
        <th>Product
        </th>
        <th>Sum
        </th>
      </tr>
      <tr>
        <td>#
        </td>
        <td>Name
        </td>
        <td>Created
        </td>
        <td>Finished
        </td>
        <td>Client
        </td>
        <td>Status
        </td>
        <td>Product
        </td>
        <td>Sum
        </td>
      </tr>
    </table>
    </div>
  </div>
  {% endblock %}