{% extends 'main/layout.html' %}

{% block title %} Проект {{object.project_name}}{% endblock %}
{% block content %}
<div class="col-12">
            <table class="table" style="border-width: 0px">
                <tr>
                    <td>
                        <div class="card">
                            <div class="card-header">
                                <p class="text-secondary pb-3" style=""> {{object.project_created}} - 
                                    {% if object.project_finished %}
                                    {{object.project_finished}}
                                    {% else %}
                                    ...
                                    {% endif %}
                                </p>
                            </div>
                            <div class="card-body">
                            <span class="text-secondary pt-3" style="font-size: 14px">#{{ object.id }}</span> 
                            <span><a href="{{ object.project_client.get_absolute_url }}" class="link-secondary">{{ object.project_client.client_name }}</a></span>
                            <h2 class=" pb-3" style=""> Project "{{object.project_name}}" </h2>
                                
                                
                            <br/>
                            <span class="text-secondary pt-3 " style="font-size: 14px">продукт</span>
                            <h5 class=" pb-3" style=""> Project "{{object.project_product}}" </h5>
                            <button class="btn btn-{{object.project_status.status_color}}"> {{object.project_status}}</button>
                        </div>
                    </div>
                    </td>
                    <td>
                        <div class="card p-3">
                            
                            <table>
                                <tr>
                                    <td align=center><span class="text-secondary pt-3 mx-auto" style="font-size: 14px">Стоимость проекта </span>
                                    </td>
                                    <td align=center><span class="text-secondary pt-3 mx-auto" style="font-size: 14px">Прибыль с проекта</span>
                                    </td>
                                    <td align=center><span class="text-secondary pt-3 mx-auto" style="font-size: 14px">Расходы по проекту</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align=center>
                                        <h3 class="mx-auto" style=""> 
                                            {% if object.transaction %}
                                            {{object.project_sum|floatformat:"2g"}} ₽ 
                                            {% else %}
                                            None
                                            {% endif %}
                                        </h3>
                                    </td>
                                    <td align=center>
                                        <h3 class="mx-auto" style=""> 
                                            {% if object.get_project_transactions_sum %}
                                            {{object.get_project_transactions_sum.amount__sum|floatformat:"2g"}} ₽ 
                                            {% else %}
                                            0
                                            {% endif %}
                                        </h3> 
                                    </td>
                                    <td align=center>    
                                        <h3 class="mx-auto" style=""> 
                                            {% if object.get_project_transactions_cost %}
                                            {{object.get_project_transactions_cost.amount__sum|floatformat:"2g"}} ₽ 
                                            {% else %}
                                            0
                                            {% endif %}
                                        </h3>      
                                    </td>
                                </tr>
                            </table>                          
                            <table>
                                <hr/>
                                <tr align='right'>
                                    <th scope="col" class="text-secondary"> #
                                    </th>
                                    <th scope="col" class="text-secondary"> Amount
                                    </th>
                                    <th scope="col" class="text-secondary"> Flow
                                    </th>
                                    <th scope="col" class="text-secondary"> Date
                                    </th>
                                    <th scope="col" class="text-secondary"> Item
                                    </th>
                                </tr>
                                {% for transaction in object.transaction.all%}
                                <tr align='right'>
                                    <td> <p class="text-secondary">{{transaction.id}}</p>
                                    </td>
                                    <td>
                                        <p class="{% if transaction.flow == 'INC' %}
                                        text-success
                                        {% elif transaction.flow == 'SAL'%}
                                        text-primary
                                        {% else %}
                                        text-danger
                                        {% endif %}">
                                        {% if transaction.flow == 'INC' %} 
                                        {{transaction.amount|floatformat:"2g"}}
                                        {% else %}
                                        - {{transaction.amount|floatformat:"2g"}}
                                        {% endif %}
                                        ₽
                                    </p>
                                    </td>
                                    <td> <p class="
                                        {% if transaction.flow == 'INC' %}
                                        text-success
                                        {% elif transaction.flow == 'SAL'%}
                                        text-primary
                                        {% else %}
                                        text-danger
                                        {% endif %}
                                        "> {{transaction.flow}}</p>
                                    </td>
                                    <td> <p class="text-secondary"> {{transaction.transaction_date}} </p>
                                    </td>
                                    <td> <p class="text-secondary"> {{transaction.item}} </p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>  
                        </div>
                    </td>
                    <td>
                            <ul class="list-group">
                                    <li class="list-group-item list-group-item-secondary"> Other Projects</li>
                                {% for project in projecsall %}
                                        {% if project.id == object.id %}
                                    <a href="{{project.get_absolute_url}}" class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
                                        <span class="text">{{project.id}}</span> <span>{{project.project_name}}</span>
                                        {% else %}
                                    <a href="{{project.get_absolute_url}}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                        <span class="text-secondary">{{project.id}}</span> <span>{{project.project_name}}</span>    
                                        {% endif %}
                                        
                                    </a>
                                        
                                {% endfor %}
                            </ul>
                    </td>
                </tr>
            </table>        
        </div>
    </div>
{% endblock %}