{% extends 'main/layout.html' %}

{% block content %}

    {% comment %} Table {% endcomment %}
    <div class="col-9">
        <div class="card pl-5">
            <h2 class="pt-3 pb-3 m-4" style=""> Projects </h2>
                <table class="table table-dark table-hover text-truncate" style="font-size: 14px">
                    <thead>
                        <tr>
                            <th scope="col" class="text-secondary">  </th>
                            <th scope="col" class="text-secondary">#</th>
                            <th scope="col" class="text-secondary">Name </th>
                            <th scope="col" class="text-secondary">Start </th>
                            <th scope="col" class="text-secondary">Finish </th>
                            <th scope="col" class="text-secondary">Client </th>
                            <th scope="col" class="text-secondary">Status </th>
                            <th scope="col" class="text-secondary">Product </th>
                            <th scope="col" class="text-secondary">Sum </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if projects %}
                            {% for project in projects %}
                            <tr>
                                <td> </td>
                                <td scope="row" class="text-secondary"> {{ project.id }} </td>
                                <td scope="row"> <a href="{{ project.get_absolute_url }}"> {{ project.project_name }} </a> </td>
                                <td scope="row" class="text-secondary"> {{ project.project_created }} </td>
                                <td scope="row" class="text-secondary"> {{ project.project_finished }} </td>
                                <td scope="row"> <a href="{{ project.project_client.get_absolute_url }}">{{ project.project_client.client_name }} </a></td>
                                <td scope="row"> 
                                    <span class="text-{{ project.project_status.status_color }}"> {{ project.project_status }} </span>
                                    </td>
                                <td scope="row"> {{ project.project_product }} </td>
                                <td scope="row"> {{ project.project_sum }} </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td></td>
                                <td colspan="8"><span class="text-secondary">No projects yet. Create a project in a right sidebar to start working. </span> </td>
                            </tr>
                        {% endif%}
                </table>
        </div>
    </div>
    {% comment %} Form {% endcomment %}
    <div class="col-3" style="">
        <div class="card p-3" style="">
            <h2 class="mx-auto pb-3 pt-3 m-4">Add project</h2>
              <div class="form-group mx-auto" style="">    
              <form action="{% url 'projects_page' %}" method="post"> 
                    {% csrf_token %}
                    {% for f in projectform %}
                    
                    <div class="pb-4">
                      {% comment %} <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label> {% endcomment %}
                      {{ f }}</div>
                    <div class="form-error">{{ projectform.f.errors }}</div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary mt-4 mb-4 container-fluid" style="">Add</button>
              </form>
              <br/>
              <p class="mx-auto text-secondary" style="font-size: 12px">* - Обязательное поле</p>
              </div>
        </div>
    </div>
</div>
{% endblock %}