{% extends 'main/layout.html' %}

{% block content %}
<form method="GET" action="{% url 'second' %}">
            {{ form.as_p}}
    <input type="submit" value="submit">
</form>

<hr/> 
    <h1> Projects </h1>

        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Status </th>
                    <th> Client </th>
                    <th> Product </th>
                    <th> Sum </th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <th> {{ project.project_name }} </th>
                    <th> {{ project.project_status }} </th>
                    <th> {{ project.project_client }} </th>
                    <th> {{ project.project_product }} </th>
                    <th> {{ project.project_sum }} </th>
                </tr>
                {% endfor %}
        </table>

{% endblock %}