{% extends 'main/layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
    <form method="GET" action="{% url 'second' %}">
        <div class="form-group">
                {{ form.as_p}}
        <input type="submit" value="submit">
        </div>
    </div>
    </form>

</div>
<div class="row mt-5">
    <div class="col-sm">
<hr/> 
    <h1 class="pb-5"> Projects </h1>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> Client </th>
                    <th scope="col"> Status </th>
                    <th scope="col"> Product </th>
                    <th scope="col"> Sum </th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td scope="row"> {{ project.project_name }} </td>
                    <td scope="row"> {{ project.project_client }} </td>
                    <td scope="row"> {{ project.project_status }} </td>
                    <td scope="row"> {{ project.project_product }} </td>
                    <td scope="row"> {{ project.project_sum }} </td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
